In [1]:
import sklearn.datasets as skd
import pandas as pd

In [2]:
fakeNews = pd.read_csv("fakeNews_dataset.csv") 
fakeNews.head()

,statement,link
0,ఇటీవల ఉపఎన్నిక జరిగిన అసెంబ్లీ స్థానాలలో 6 ND...,https://factly.in/telugu-these-details-regardi...
1,రాష్ట్రాలు చేస్తున్న అప్పులను నియంత్రించేందుక...,https://factly.in/telugu-no-law-to-recover-gov...
2,భారత దేశానికి స్వాతంత్ర్యం తెచ్చింది ముహమ్మద్...,https://factly.in/telugu-akhilesh-yadav-did-no...
3,పునీత్ రాజ్‌కుమార్ మరణానికి సంబంధించి డాక్టర్...,https://factly.in/telugu-this-message-in-relat...
4,నరేంద్ర మోదీ టీ అమ్మానని చెప్పుకునే వాద్‌నగర్...,https://factly.in/telugu-vadnagar-railway-stat...

In [3]:
RealNews = pd.read_csv("real_news.csv",sep="|") 
RealNews.head()

                                           statement
0  ఎస్సార్‌ వైజాగ్‌ టెర్మినల్‌ లిమిటెడ్‌ (ఎస్‌విట...
1  ఖనిజం  హ్యాండ్లింగ్‌ కాంప్లెక్స్‌ను 2015 మే నె...
2   ద్వారా ఏటా 1.6 కోట్ల టన్నుల కార్గోను హ్యాండిల...
3   కొత్త కార్డులు రూపొందిస్తే వాటికి ‘సీవీవీ’ నం...
4  రెండో ప్రపంచ యుద్ధంలో కమ్యూనికేషన్ల డేటాను, కో...

In [4]:
fakeNews["class"]="fake"
RealNews["class"]="real"

In [5]:
FakeNews=fakeNews.drop(['link'],axis=1)

In [6]:
NewsDataset=pd.concat([RealNews,FakeNews],axis=0)
NewsDataset.head()

                                           statement class
0  ఎస్సార్‌ వైజాగ్‌ టెర్మినల్‌ లిమిటెడ్‌ (ఎస్‌విట...  real
1  ఖనిజం  హ్యాండ్లింగ్‌ కాంప్లెక్స్‌ను 2015 మే నె...  real
2   ద్వారా ఏటా 1.6 కోట్ల టన్నుల కార్గోను హ్యాండిల...  real
3   కొత్త కార్డులు రూపొందిస్తే వాటికి ‘సీవీవీ’ నం...  real
4  రెండో ప్రపంచ యుద్ధంలో కమ్యూనికేషన్ల డేటాను, కో...  real

In [7]:
NewsDataset=NewsDataset.sample(frac=1)
NewsDataset.head(10)

                                              statement class
1803  గురిపెట్టిన తుపాకీలా కనిపిస్తోంది. అది తుపాకీల...  real
2072  బాగా పనిచేస్తుంది. టొమాటొను కట్‌ చేసి విత్తనాల...  real
479    జిల్లాలోని మురకంబట్టు దగ్గర ముగ్గురు ఎర్రచందన...  real
231    హుజురాబాద్ అసెంబ్లీ ఎన్నికలలో ఈటల రాజేందర్ గె...  fake
176    ‘టోక్యో ఒలింపిక్స్ 2020’లో స్వర్ణ పతకం సాధించ...  fake
991   శరీరంలో ఏ తేడా వచ్చినా ఏదో పెద్ద జబ్బే అనుకునే...  real
2335   ప్రభాకర్‌ రెడ్డి కోసమే కదా?’ అని అంతకుముందు న...  real
631    అమెరికా అధ్యక్షుడు జో బైడెన్ పోలీసుల దాడిలో చ...  fake
2402  మనోభావాలను మేమెలా గౌరవిస్తాం.నల్లధనంపై యుద్ధంల...  real
1081   గెలిపించారని, అపుడు అక్కడి ప్రజల కాళ్లలో ముల్...  real

In [8]:
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics, svm, ensemble
from sklearn.metrics import accuracy_score, classification_report
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.tree import DecisionTreeClassifier

In [9]:
Le=preprocessing.LabelEncoder()

In [10]:
train_x, valid_x, train_y, valid_y = model_selection.train_test_split(NewsDataset['statement'],Le.fit_transform(NewsDataset['class']), test_size=0.15, random_state=42)
NewsDataset['class'].value_counts()

real    2847
fake    1227
Name: class, dtype: int64

In [11]:
count_vect = CountVectorizer(analyzer='word', token_pattern=r'\w{1,}')
count_vect.fit(NewsDataset['statement'])

CountVectorizer(token_pattern='\\w{1,}')

In [12]:
# transform the training and validation data using count vectorizer object
train_x_count =  count_vect.transform(train_x)
valid_x_count =  count_vect.transform(valid_x)

In [13]:
def train_model(classifier, feature_vector_train, label, feature_vector_valid, is_neural_net=False):
    # fit the training dataset on the classifier
    classifier.fit(feature_vector_train, label)
    
    # predict the labels on validation dataset
    predictions = classifier.predict(feature_vector_valid)
    
    
    return metrics.accuracy_score(predictions, valid_y)

# Logistic regression

In [14]:
accuracy = train_model(linear_model.LogisticRegression(random_state=42,solver='lbfgs',max_iter=0.1e10), train_x_count, train_y, valid_x_count)
print("LR, Count Vectors: ", accuracy)

LR, Count Vectors:  0.8529411764705882

 # NAVIE BAYES

In [15]:
accuracy = train_model(naive_bayes.MultinomialNB(), train_x_count, train_y, valid_x_count)
print("NB, Count Vectors: ", accuracy)

NB, Count Vectors:  0.8284313725490197

#  svm

In [16]:
accuracy = train_model(svm.NuSVC(), train_x_count, train_y, valid_x_count)
print("SVM, Count Vectors: ", accuracy)

SVM, Count Vectors:  0.8660130718954249

# random forest

In [17]:
accuracy = train_model(ensemble.RandomForestClassifier(n_estimators=200,random_state=42), train_x_count, train_y, valid_x_count)
print("RF, Count Vectors: ", accuracy)

RF, Count Vectors:  0.8888888888888888

# Decision Tree

In [18]:
accuracy = train_model(DecisionTreeClassifier(max_leaf_nodes=200,random_state=42), train_x_count, train_y, valid_x_count)
print("Decision Tree Classifier, Count Vectors: ", accuracy)

Decision Tree Classifier, Count Vectors:  0.8251633986928104

# Testing

In [19]:
classifier = ensemble.RandomForestClassifier(n_estimators=200,random_state=42).fit(train_x_count, train_y)
test_sent=["కరోనా ఉద్ధృతితో యావ ప్రపంచమే స్తంభించిపోయింది. ప్రస్తుతం మన దేశం అత్యంత కఠినమైన పరిస్థితులు ఎదుర్కొంటోంది. లాక్ డౌన్ తో దాదాపు అన్ని రంగాలూ ఎక్కడివక్కడే నిలిచిపోయాయి"]
counts= count_vect.transform(test_sent)
predicted= classifier.predict(counts)
if predicted== 1: 
    print("realnews")
else:
    print("fakenews")

realnews

In [20]:
test_sent2=[' పేషెంట్ ఛాతి ఎక్స్‌-రేలో బతికున్న బొద్దింక కనిపించిన దృశ్యాలు.']
counts= count_vect.transform(test_sent2)
predicted= classifier.predict(counts)
if predicted== 1: 
    print("realnews")
else:
    print("fakenews")

fakenews